body{
    background-image: url("inferno.png");
    max-width: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    height: 100%;

}

h1{
    display: flex;
    justify-content: center;
    color: #252323;
    font-size: 80px;
    width: 40%;
    height: 100%;
    background: #c8d8d4;
    border-radius: 3px;
    text-decoration: none;
    margin-left: 30%;
    text-align: center;
    border: black solid 2px;



}

h2,h4{
    display: flex;
    justify-content: center;
    color: #252323;
    font-size: 60px;
    width: 80%;
    height: 100%;
    background: #cfecd4;
    border-radius: 5px;
    text-decoration: none;
    margin-left: 10% ;
    text-align: center;
    border: black solid 2px;
}

#result{
    display: flex;
    justify-content: center;

    font-size: 80px;
    width: 40%;
    height: 100%;
    background: #cfecd4;
    border-radius: 5px;
    text-decoration: none;
    margin-left: 30%;
    margin-top: -3%;
    text-align: center;
    border: black solid 2px;
    padding: 8px;
    color: #b92626;

}

div.maps{
    margin-top: 120px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #BFA98E 20%, #22C1C3 100%);
    padding: 3px;
    border: black solid 4px;
    position: relative ;
    border-radius: 3px;
    font-size: 50px;
    text-decoration: none;

}

.maps input {

    width: 40px;
    height: 40px;
    position: relative;
    cursor: pointer;

}

.input{
    text-decoration: none;
}

.switches{
    color: #260F06;
}


.check{
    display: flex;
    justify-content: center;
}









h4:hover{
    transform: scale(0.9);
    background-color: #8b8383;
}

