

Body{
    background-image: url("inferno.png");
    
}

h1{
    text-align: center;
    font-size: 60px;
    border-radius: 5px;
    color: black;
    border-style: solid;
    border-width: 5px;
    background-color: azure;
    
}
h2{
    text-align: center;
    font-size: 50px;
    border-radius: 5px;
    color: rgb(255, 255, 255); 
    font-family: 'Courier New', Courier, monospace;
    padding: 40px;

}




.losowanie{
    background-color: rgb(209, 224, 224);
    text-decoration: none;
    text-align: center;
    width: auto;
    height: auto;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    padding: 10px;
    
   
}



fieldset{
    font-size: 30px;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    border-radius: 10px;
    padding: 10px;
    

}

h3,p{
    text-align: center;
    font-size: 50px;
    border-radius: 5px;
    color: black;
    border-style: solid;
    border-width: 5px;
    background-color: azure;
}

#bstop,#bplay{
    
    margin-left: 600px;
    height: 50px;
    width: 100px;
    font-size: 20px;
    border-radius: 10px;
}

input{
    height: 50px;
    width: 100px;
    font-size: 30px;
    border-radius: 10px;
}

.start{
    height: 50px;
    width: 100px;
    font-size: 30px;
    border-radius: 10px;
}

